.main-container{
  width: 100vw;
 height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 65);
  color: wheat;
}

.sub-cont{
  width: 280px;
  height:230px;
  background-color: rgb(16, 16, 92);
 box-shadow: 2px 1px 4px 2px rgb(15, 15, 52) ;
  padding:20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}

.sub-cont>button{
  padding: 2px;
  width: 100px;
  margin: auto;
  font-size: larger;
  border-radius: 12px;
  cursor: pointer;
}
.sub-cont>button:hover{
box-shadow: 2px 2px 2px 1px rgb(17, 17, 43);
}
.sub-cont>h1{
  margin: auto;
}